@media(max-width:800px) {
    .Sweeties{
        display: flex;
        flex-direction: column !important;
       
        background-color: red;
    }
}

nav {
    background-color: #012e49;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: sticky;
}
    nav ul { 
        list-style: none; 
        display: flex;
        width: 30%;
        justify-content: space-around;
        margin-top: 20px;
        }
        nav a { color: white;
            &:hover {
                color: gold;
                text-decoration: underline;
            }
        }

.search-bar {
    margin: 20px 20px 0;
}

      

.cover {
    background-color: #3fbcb1;
    width: 100%;
    height: 500px;
    display: flex;
}

p, h1, h5 { font-family: "Sofia", sans-serif; }

#col-1-right {
    position: relative;
    width: 55%;
    height: 50%;    
    padding: 40px;
    display: inline-block;
}

#col-1-right h1 { margin-top: 60px; }
#col-1-right p { margin: 60px 200px 0; }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.intro {
    color: #012e49;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.products {
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
    .products img { 
        border-radius: 10px;
        width: 300px;
        height: 160px;
     }

    #sw {
        margin: 10px;
        border-radius: 10px;
    }

    .card-body {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    .btn-buy {
        background-color: #3fbcb1;
        color: #012e49;
        font-family: "Sofia", sans-serif;
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;
        border-radius: 30px;
    }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

footer {
    width: 100%;
    background-color: black;
    display: block;
    
}
    footer a, svg { color: white; }
    footer p { color: white; }
    #outro {
        padding: 40px;
        flex-direction: column;
    }
        #outro p {
            display: flex;
            justify-content: center;
        }
        
    #logos {
        display: flex;
        justify-content: space-around;
        padding-bottom: 40px;
   
    }